@import url('https://fonts.googleapis.com/css2?family=Nunito');

body{
 font-family: 'Nunito' , sans-serif;
 background: #040614;
 color:#3dd8fc;
/* overflow: hidden; */
}
ul#header{
    float: right;
    list-style: none;
    display: block;

}
ul li{
    float:right;
    padding:10px;
    padding-left: 5px;
}
img#logo{
    width:150px;
    position: relative;
    top: -9px;
    left: -2px;
}
 .logo{
    float:left;
}
.list {
    float: right;
    padding: 20px;
    font-size: 20px;
    position: relative;
    top: -21px;
    left: -27px;
}

#dp {
    border-radius: 50%;
    width: 415px;
    height: 414px;
    position: relative;
    top: 172px;
    left: 96px;
    z-index: 950;
    animation: orb 3s infinite;
}
/* @keyframes orb {
	0%,100% {
		box-shadow: 0 0 40px 3px #3dd8fc;
	}
	50% {
		box-shadow: 0 0 50px 9px #3dd8fc;
	}
} */
#back {
    border-radius: 50%;
    width: 415px;
    height: 414px;
    position: relative;
    top: -247px;
    left: 244px;
    z-index: 900;
    background: #3dd8fc;
    mix-blend-mode: normal;
    filter: blur(30px);
    transition: all 0.2s ease-in-out;
}
.left-int {
    position: relative;
    float: right;
    right: 34px;
    left: -320px;
    top: -569px;
}

.left-int h3 {
    font-size: 40px;
    top: -56px;
    position: absolute;
    left: 3px;
}

.left-int h1 {
    font-size: 60px;
}

h3#box {
    font-size: 30px;
    /* border: 15px white; */
    border: 3px solid;
    padding: 7px;
}
.box{
    position: relative;
}
#resume {
    border: 3px solid;
    transition: all 0.2s ease-in-out;
    padding: -71px;
    padding: 4px;
    position: relative;
    padding-left: 21px;
    top: 0px;
    left: -7px;
    padding-right: 21px;
}
#resume:hover{
    color: #3dd8fc;
    box-shadow: 0 5px 15px ;
}

img#icon {
    width: 30px;
    display: block;
    padding: 10px;
    transition: transform .2s ease; 
    z-index: 2;
}


.icons {
    display: block;
    position: fixed;
    float: left;
    top: 413px;
    left: 34px;
    z-index: 950;
}
.icons-back {
    display: block;
    position: fixed;
    float: left;
    top: 413px;
    left: 34px;
    filter: blur(20px);
    z-index:900;
}
#icon:hover{
    transform: scale(1.5);
    
}
a:link {
    text-decoration: none;
    color: #3DD8FC;
}
a:visited{
    color: #3DD8FC;
}

.mail {
    transform: rotate(90deg);
    position: fixed;
    float: right;
    top: 536px;
    left: 1362px;
}
svg#\34 {
    transform: scaley(-1);
    position: fixed;
    
    top: 277px;
    left: 1474px;
    width: 33px;

}
svg#\33 {
    position: fixed;
    top: -105px;
    left: 1475px;
    width: 33px;
}

/* Preloader */
.preloader{
    background: #040614;
    height:100%;
    width:100%;
    position: fixed;
    z-index: 1000;
}

.container {
  width: 20vw;
  height: 20vw;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  overflow: hidden;
}

/* Compressing bars style */

.bars-common {
  height: 4vw;
  max-height: 100%;
  width: 1vw;
  margin: auto;
  position: absolute;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.bar-one {
  left: 0;
  right: 4vw;
  top: 0;
  bottom: 0;
  box-shadow: 0 0 0 .1vw cyan, 0 0 1vw 0 cyan, inset 0 0 .5vw 0 cyan;
}

.bar-two {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  box-shadow: 0 0 0 .1vw cyan, 0 0 1vw 0 cyan, inset 0 0 .5vw 0 cyan;
}

.bar-three {
  left: 4vw;
  right: 0;
  top: 0;
  bottom: 0;
  box-shadow: 0 0 0 .1vw cyan, 0 0 1vw 0 cyan, inset 0 0 .5vw 0 cyan;
}

/* Rotating squares style */

.squares-common {
  height: 8vw;
  max-height: 100%;
  width: 8vw;
  margin: auto;
  position: absolute;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 0%;
}

.square-one {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  box-shadow: 0 0 0 .1vw cyan, 0 0 1vw 0 cyan, inset 0 0 .5vw 0 cyan;
}

.square-two {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  box-shadow: 0 0 0 .1vw cyan, 0 0 1vw 0 cyan, inset 0 0 .5vw 0 cyan;
}

/* Animation */
/* Compressing bars animation */

.bar-one {
  animation: barOne 1s .33s ease infinite;
  -moz-animation: barOne 1s .33s ease infinite;
  /* Firefox */
  -webkit-animation: barOne 1s .33s ease infinite;
  /* Safari and Chrome */
  -o-animation: barOne 1s .33s ease infinite;
  /* Opera */
}

@keyframes barOne {
  0%,
  100% {
    box-shadow: 0 0 0 .1vw cyan, 0 0 1vw 0 cyan, inset 0 0 .5vw 0 cyan;
  }
  50% {
    height: 2.5vw;
    box-shadow: 0 0 0 .1vw magenta, 0 0 1vw 0 magenta, inset 0 0 .5vw 0 magenta;
  }
}

.bar-two {
  animation: barTwo 1s .66s ease infinite;
  -moz-animation: barTwo 1s .66s ease infinite;
  /* Firefox */
  -webkit-animation: barTwo 1s .66s ease infinite;
  /* Safari and Chrome */
  -o-animation: barTwo 1s .66s ease infinite;
  /* Opera */
}

@keyframes barTwo {
  0%,
  100% {
    box-shadow: 0 0 0 .1vw cyan, 0 0 1vw 0 cyan, inset 0 0 .5vw 0 cyan;
  }
  50% {
    height: 2.5vw;
    box-shadow: 0 0 0 .1vw magenta, 0 0 1vw 0 magenta, inset 0 0 .5vw 0 magenta;
  }
}

.bar-three {
  animation: barThree 1s .99s ease infinite;
  -moz-animation: barThree 1s .99s ease infinite;
  /* Firefox */
  -webkit-animation: barThree 1s .99s ease infinite;
  /* Safari and Chrome */
  -o-animation: barThree 1s .99s ease infinite;
  /* Opera */
}

@keyframes barThree {
  0%,
  100% {
    box-shadow: 0 0 0 .1vw cyan, 0 0 1vw 0 cyan, inset 0 0 .5vw 0 cyan;
  }
  50% {
    height: 2.5vw;
    box-shadow: 0 0 0 .1vw magenta, 0 0 1vw 0 magenta, inset 0 0 .5vw 0 magenta;
  }
}

/* Rotating squares animation */

.square-one {
  animation: squareOne 4s .99s ease infinite;
  -moz-animation: squareOne 4s .99s ease infinite;
  /* Firefox */
  -webkit-animation: squareOne 4s .99s ease infinite;
  /* Safari and Chrome */
  -o-animation: squareOne 4s .99s ease infinite;
  /* Opera */
}

@keyframes squareOne {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-180deg);
  }
}

.square-two {
  animation: squareTwo 4s .99s ease infinite;
  -moz-animation: squareTwo 4s .99s ease infinite;
  /* Firefox */
  -webkit-animation: squareTwo 4s .99s ease infinite;
  /* Safari and Chrome */
  -o-animation: squareTwo 4s .99s ease infinite;
  /* Opera */
}

@keyframes squareTwo {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}

/* --------- */

@media only screen and (max-device-width: 1448px){
    .left-int{
        position: absolute;
        left: 766px;
        top: 272px;
    }

}

@media only screen and (max-device-width: 1176px){
    .dp {
        position: relative;
        top: -13px;
        left: -79px;
    }
    .left-int{
        position: absolute;
        left: 670px;
        top: 240px;
    }
}

@media only screen and (max-device-width:1023px){
    .dp {
        position: relative;
        top: -142px;
        left: 0px;
    }
    .left-int {
        position: relative;
        left: -252px;
        top: -417px;
    }
    #intro{
        position: relative;
        left: 125px;
        top: 46px;
    }
    #box{
        position: absolute;
        top: -74px;
        left: 29px;
    }
    .list {
        position: relative;
        left: -45px;
    }
    
}
@media only screen and (max-device-width:800px){
    .left-int{
    
            position: relative;
            left: -83px;
            top: -417px;
        
    }
    .dp {
        position: relative;
        top: -142px;
        left: -66px;
    }
}

@media only screen and (max-device-width:600px){
    .list {
        position: relative;
        left: -10px;
        top: -156px;
    }
    
    .dp {
        position: relative;
        top: -177px;
        left: -110px;
    }
    .left-int {
        position: relative;
        top: -449px;
        left: -58px;
    }
    #dp {
        width: 300px;
        height: 300px;
        position: relative;
        top: 57px;
        left: 247px;
    }
    #back{
        position:relative;
        height:300px;
        width:300px;
    }
    img#icon {
        display: inline;
        position: relative;
        top: -80px;
        left: 159px;
    }
     .icons-back {
        position: relative;
        top: -327px;
        left: -218px;
    }
    .icons{
        position: relative;
        top: -327px;
        left:0px;
    }
}

@media only screen and (max-device-width:535px){
    img#logo{
        top: -8px;
        left: -19px;
    }
    .dp {
        left: -173px;
        top: -177px;
    }
    .left-int{
        left: -6px;
    }
    .list {
        position: relative;
        
        top: -150px;
        left: 24px;
        font-size: 15px;
    }
    .left-int h1{ 
        font-size: 50px;

    }
    #intro{ 
        font-size:35px;
        left: 114px;
        top: 37px;

    }
    h3#box {
        font-size: 20px;
        top: -59px;
        left: 49px;
    }
    .icons-back {
        position: relative;
        top: -328px;
        left: -247px;
    }
    .icons {
        position: relative;
        top: -327px;
        left: -42px;
    }
}
